<% content_for :title, (I18n.t 'show.genre') + ': ' + @current_genre.name %>
<div class="page">
  <ul class="large-block-grid-4">
    <% @show_genres.each { |show| %>
      <li>
        <div class="main-blocks">
          <%= link_to image_tag(show.photo_orig, class: 'show-list'), show %>
          <div class="blocks-names"><%= link_to show.name, show %></div>
        </div>
      </li>
    <% } %>
  </ul>
</div>