<% content_for :title, 'New comment' %>
<div class="new-comment">
<%= form_for [@parent, @comment] do |f| %>
    <%= f.text_area :body, placeholder: :body, rows: '6' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'add comment', class: 'button success tiny ' %>
<% end %>
</div>