<% content_for :title, 'My favorites' %>
<div class="page" style="background-color:rgba(100,100,100,0.5);">
  <ul class="large-block-grid-4">
    <% @user_favorite.each { |item| %>
        <li>
          <div class="cuadro_intro_hover">
            <div class="main-blocks img-responsive">
              <%= link_to image_tag(item.show.photo_orig, class: 'show-list'), item.show %>
              <div class="caption">
                <div class="blur">
                  <div class="caption-text">
                    <div class="blocks-names"><%= link_to item.show.name, item.show %></div>
                    <%= item.show.about[0..500] + '...' %>
                    <br>
                    <%= link_to 'Read more', item.show, class: 'button success tiny', style: 'align: center;' %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
    <% } %>
  </ul>
</div>
