<% content_for :title, 'Users list' %>
<div class="page show-list">
  <ul class="large-block-grid-4">
    <% @all_users.each { |user| %>
        <li>
          <div class="main-blocks">
            <%= link_to image_tag(user.avatar.url, class: 'show-list'), user %>
          </div>
          <div class="blocks-names"><%= link_to user.login, user %></div>
        </li>
    <% } %>
  </ul>

</div>