.container.pt16
  %h1.text-center Для правовласників
  %p Весь розміщений на сайті контент являє собою матеріал, що знаходиться у вільному доступі для перегляду та скачування в мережі Інтернет. Збір доступних в Інтернеті матеріалів та їх розміщення в каталозі здійснюється в автоматичному режимі. Адміністрація сайту у даному випадку не здійснює контроль над додаються контентом.
  %p Адміністрація сайту здійснює діяльність, пов'язану з публікацією неліцензійного контенту, незаконно вкраденого і знаходиться під захистом правовласників. Автоматизована система публікує тільки знаходиться у вільному доступі матеріал з відкритих джерел.

  %p Ресурс завжди відкритий для співпраці з правовласниками.

  %p Якщо Ваші виключні права на об'єкти авторської власності порушуються яким-небудь чином з використанням даного ресурсу (розміщення інформації, захищеної авторським правом), адміністрація готова надати Вам сприяння і видалити з сайту відповідні матеріали.

  %p При виникненні спірних ситуацій ми просимо Вас надіслати нам листа у електронному вигляді на адресу info@shows.pp.ua, де необхідно вказати наступне:

  %ol
    %li Документальне підтвердження Ваших прав на матеріал, захищений авторським правом:
    %ul
      %li відсканований документ з печаткою, або
      %li email з офіційного поштового домена компанії правовласника, або
      %li інша інформація, що дозволяє однозначно ідентифікувати Вас, як правовласника даного матеріалу.

    %li Прямі посилання на сторінки сайту, які містять дані, опубліковані з порушенням авторських прав.

  %p При отриманні листа, що містить дане підтвердження, протягом 48 годин, ми видалимо з сайту захищений авторським правом контент. Або за вашою ж прохання замінимо матеріал на вас влаштовує плеєр з легального онлайн кінотеатру або каналу YouTube.
