/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

body {
  background: url('http://cs623918.vk.me/v623918596/1a598/wNTnXr0rijA.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.reg {
    width: 270px;
    margin: 50px auto;

}

.header2{
  background-color: rgba(66,172,106,0.7);
  height: 40px;
  width: 100%;
  border-bottom: 1px ridge #DDDDDD;
  border-top: 1px ridge #DDDDDD;
  padding: 0;
}

.page {
    max-width: 1020px;
    min-height: 600px;
    height: auto;
    margin: 10px auto;
    background-color: #FFFFFF;
    border: 1px ridge #DDDDDD;
}

.div-opacity {
  background-color:rgba(100,100,100,0.5);
}

.user-avatar {
    margin: 10px 0;
    border: 1px #DDDDDD ridge;
    width: auto;
    height: auto;
    text-align: center;
}

.show-info {
  margin: 10px 0;
}

.show-avatar {
  margin-bottom: 10px;
  border: 1px #DDDDDD ridge;
  width: auto;
  height: auto;
  text-align: center;
}

.favorite-button {
  position: absolute;
  right: 0;
  top: 0;
}

.episode-avatar {
  margin-bottom: 10px;
  border: 1px #DDDDDD ridge;
  width: auto;
  height: auto;
  text-align: center;
}

.main-blocks {
  float: left;
  width: 240px;
  height: 360px;
  margin: 0 auto;
}

.blocks-names {
  height: 27px;
  width: 240px;
  background-color: #333333;
  /*margin: -15px 0 0 0;*/
  padding: 4px 11px;
}

.blocks-names > a {
  color: white;
}

.user-right {
  border-left: 1px ridge #DDDDDD;
}

.user-panel {
  margin: -5px 0;
  list-style: none;
}

.users-list {
  width: auto;
  height: auto;
  text-align: center;
}

.genres{
  margin: 10px auto;
  height: 400px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

ul.large-block-grid-5 {
  display: inline-block;
  align-items: center;
  margin: 2px auto;
  line-height: 1.4;
}

.large-block-grid-4 {
  /*margin: 0 auto;*/
  margin-right: 15px;
  margin-left: 15px;
}

img.show-list {
  width: 240px;
  height: 360px;
}

img.show-list:hover{
  -webkit-filter: opacity(.8);
  filter: opacity(0.8);
}

.rated {
  margin: 20px auto
}

.comment {
  border: 1px ridge #DDDDDD;
  width: 400px;
  min-height: 90px;
  margin-top: 25px;
  list-style: none;
  position: relative;
}

.comment>span:last-child {
  margin-top: 10px;
}

.comment-picture{
  border: 1px #DDDDDD ridge;
  width: 60px;
  height: 60px;
  text-align: center;
  float: left;
  margin: 5px;
}

img.comment-picture-img {
  max-height: 58px;
  max-width: 58px;
}

.new-comment {
  margin: 20px auto;
  width: 600px;
}

.comment-header {
  padding: 0 5px;
}

.comment-body {
  min-height: 65px;
  overflow: auto;
  width: 320px;
}

.comment-footer {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.recommendation {
  float: left;
  border-left: 1px ridge #DDDDDD;
  max-width: 200px;
  height: 100%;
}

h2, h5 {
    text-align: center;
}

h4.header-h4 {
  text-align: center;
  color: #DDDDDD;
}

button.show-status {
  width: 100%;
}

span.label {
  margin: -3px;
}

.seasons>li>h6:hover {
  cursor: pointer;
}

.top-bar-section .dropdown li a {
  height: 35px;
}

.f-dropdown li a{
  height: 30px;
}

.row.collapse > .column, .row.collapse > .columns > .filter {
/*  width: 200px;*/
  padding: 15px;
}

.closeable {
  overflow: hidden;
  transition: height 1s ease;
}
.closeable.close {
  height: 2em;
}

.cuadro_intro_hover{
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cuadro_intro_hover:hover .caption{
  opacity: 1;
  transform: translateY(-335px);
  -webkit-transform:translateY(-335px);
  -moz-transform:translateY(-335px);
  -ms-transform:translateY(-335px);
  -o-transform:translateY(-335px);
}
.cuadro_intro_hover img{
  z-index: 4;
}
.cuadro_intro_hover .caption{
  position: absolute;
  top: 355px;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  width: 100%;
}
.cuadro_intro_hover .blur{
  background-color: rgba(0,0,0,0.7);
  height: 345px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.cuadro_intro_hover .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 318px;
  top:-20px;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}


* {
  margin: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.footer, .push {
  height: 60px;
  background-color: #333333;
  color: #CCCCCC;
}
