html
  font-size: 14px

body
  background: #f8f9fa

nav.navbar
  padding: 0

.wrapper
  padding-top: 54px
.fixed-top
  min-height: 54px
.account-toggle
  display: flex
  //min-width: 220px
  //max-width: 220px
  padding: 0.5rem 1rem
  align-items: center
  color: $white
  cursor: pointer
  overflow: hidden
  text-transform: none
  transition: background 0.3s ease
  &:after
    display: none
  .header-avatar
    position: relative
    flex: 0 0 40px
    width: 40px
    height: 40px
    border-radius: 50%
    border: none
    overflow: hidden
    img
      position: absolute
      left: 50%
      top: 50%
      width: 100%
      transform: translate(-50%, -50%)
      height: auto
  .account-info
    width: 100%
    padding: 0 1rem
    p
      margin: 0
      font-weight: bold
.nav-link:hover,
.nav-link:focus
  color: #f93703
.pt16
  padding-top: 16px
.btn-watch-status
  width: 100%
  margin: 8px 0 0
  text-transform: uppercase
  &+.dropdown-menu
      right: 30px
.btn-watch-comment
  display: block
  margin: 8px 0 0
  text-transform: uppercase
.comment-header
  display: flex
  align-items: center
  justify-content: space-between
.media
  padding: 16px 0
  img
    width: 80px
  h6
    a
      font-size: 16px
      font-weight: bold
      color: #000
      &:hover
        color: #f93703

.media-footer
  display: flex
  justify-content: flex-end
  padding-top: 16px
.comment-feedback-link
  color: #606983
  border-bottom: 1px dashed #606983
  text-decoration: none
  &:hover
    color: #f93703
    border-bottom-color: #f93703
    text-decoration: none

.films-title
  display: flex
  align-items: center
  justify-content: space-between
.bookmarks
  cursor: pointer
  margin: 0
  input
    display: none
    &:checked
      &+.bookmarks-status
        &:after
          content: "\f004"
          color: #f93703

.bookmarks-status
  position: relative
  &:after
    content: "\f08a"
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    text-decoration: inherit
    color: #fff
    font-size: 35px

.episode-avatar
  width: 100%

.account-page
  min-height: calc(100vh - 54px)
  display: flex
  &>form
    padding: 16px
    width: 100%
    max-width: 360px
    margin: auto
    border-radius: 3px
    background: white
    border: 1px solid #ccc

label
  margin-bottom: 0

.user-avatar
  img
    width: 100%
.user-drop
  margin: 8px 0 8px
  button
    width: 100%
    display: block
    &+.dropdown-menu
      right: 30px

.user-page-nav
  display: flex
  flex-direction: column
  .btn
    margin: 8px 0

.watched
  cursor: pointer
  margin: 0
  input
    display: none
    &:checked
      &+.watched-status
        &:after
          content: "\f070"
          color: #ccc

.watched-status
  position: relative
  &:after
    content: "\f06e"
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    text-decoration: inherit
    color: #000
    font-size: 18px
.new-episode
  margin-top: 16px
  .card
    border:  none
  .card-body
    padding: 0
    table
      border: none
      margin: 0
      td
        border:  none
  .card-header
    padding: 0
    border: none
    border-bottom: 1px solid #f0f0f0
    &:hover
      border-color: #ccc
    button
      display: block
      width: 100%
      text-align: left
      color: #000
      font-weight:  bold
