<% content_for :title, 'Shows list' %>
<div class="page" style="background-color:rgba(100,100,100,0.5);">
  <!--<h2>Shows list</h2>-->
  <%#= paginate @all_shows %>
  <ul class="large-block-grid-4">
    <% @all_shows.each { |show| %>
        <li>
          <div class="main-blocks">
            <%= link_to image_tag(show.photo_orig, class: 'show-list'), show %>
            <div class="blocks-names"><%= link_to show.name, show %></div>
          </div>

        </li>
    <% } %>
  </ul>
  <%= paginate @all_shows %>
</div>